
@font-face {
  font-family: "Makarzi Text";
  src: url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");
};

@font-face {
  font-family: "Karla";
  src: url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");
}

$primaryColor: #495E57;
$secondaryColor: #F4CE14;
$primaryFont: 'Markazi Text', serif;
$secondaryFont: 'Karla', sans-serif;



*{
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  
}

/* ---------Nav---------*/

.nav{
  background-color: #f6f6f6;

  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12rem;
}


.nav ul{
  list-style: none;
  display: flex;
  gap: 3.5rem;

}

.nav a {
  display: flex;
  color: inherit;
  text-decoration: none;
  flex-wrap: wrap;
  font-family: $secondaryFont;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  
}
.nav .icon {
  display: none;
}


.logo{
  width: 150px;
  padding: 0.9rem 0.2rem;

}


/*-------toggleMenu-----*/

.nav ul {
  list-style: none;
  display: flex;
  gap: 3.5rem;
  transition: max-height 0.3s ease-in-out;
}

.nav ul.open {
  display: block;
}

.nav .icon {
  display: none;
  cursor: pointer;
}
  /* ---------Header---------*/




.header{
  display: flex;
  background-color: $primaryColor;
  justify-content: space-between;
  

}

.header-content {
  margin: 0 11.2rem;
  padding: 0 1.3rem;
  padding-bottom: 4rem;
  max-width: 450px;
  color: #f6f6f6;
  flex-wrap: wrap;
}



.header h1 {
  font-family: $primaryFont;
  font-size: 5rem;
  color:$secondaryColor;
  margin-block-end:0;
  line-height: 0.6;
  padding-top: 3rem;

}

.header h2 {
  font-family: $primaryFont;
  font-size: 3rem;
  font-weight: 500;
  margin-block-start: 0;
  margin-block-end:0;

  
}

.header p {
  margin-top: 3rem;
  font-family: $secondaryFont;
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
}

.button {
  background-color:$secondaryColor;
  border: none;
  border-radius: 16px;
  color: #323232;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.hero-image {
  display: block;
  position: absolute;
  max-width:28rem;
  right: 12rem;
  top: 9rem;
}
.hero-image img {
  max-width: 100%;
  border-radius: 16px;
}

/* ---------Cards---------*/

.specials {
  display: flex;
  justify-content: space-between;
  margin: 10rem 12rem 6rem 12rem ;
  flex-wrap: wrap;
}

.specials h1 {
  font-family: 'Markazi Text';
  font-size: 4rem;
  margin-block-start: 0;
  margin-block-end:0;
}

.specials .button {
  width: 13rem;
}

.card-container {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 38px;
  margin-bottom: 2rem;
}

.product-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 340px;
  padding: 0.8rem .3rem;
  
}

.description {
  padding: 0 .8rem;
  border-radius: 0 0 16px 16px;
  background-color: #f6f6f6
  
}

.product-box p {
  padding-bottom: 3rem;
  color: $primaryColor
}

.product-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Markazi Text";
  font-size: 1.2rem;
  margin-block-start: 0;
  margin-block-end:0;
}

.product-title h2{
  margin-block-start: 0;
  margin-block-end:0;
  margin-top: 10px;
}

.product-price {
  font-size: 1.4rem;
  color: red
}

.product-box img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-image{
  border-radius: 16px 16px 0 0;
}

.card-delivery{
  display: flex;
  align-items: center;
  font-family: $secondaryFont;
  padding-bottom: .9rem;
  
}

.card-delivery a {
  text-decoration: none;
  font-weight: 600;
  color:#000;
  font-size: 1.1rem;
}

.card-delivery img {
  max-width: 1.2rem;
  max-height: 1.2rem;
  margin-left: 15px;

}


/* ---------Testimonials---------*/

.testimonial-container{
  background-color: $secondaryColor;
  
  
}

.testimonials-title {
  font-family: $primaryFont;
  font-size: 3rem;
  color: $primaryColor;
  text-align: center;
  padding: 7rem 0 5rem 0; 
  margin-block-start: 0;
  margin-block-end:0;
}

.testimonial-box {

  align-items: center;
  justify-content: space-between;

}

.testimonial-cards {
  display: flex;
  padding: 0 12rem ;
  gap: 20px;
  padding-bottom: 9rem;
  justify-content: space-between;
  flex-wrap: wrap;

}

.testimonial-card{
  
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 16px;
  max-width: 300px;
  padding: 0 2rem;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 

}


.testimonial-box .rating {
  font-family: $primaryFont;
  font-size: 1.4rem;
}

.user{
  display: flex;
  align-items: center;

}


.user-image {
  max-width: 80px;
  border-radius: 100%;
}

.user-name {
  padding: 0 1rem;
  font-family: $secondaryFont;
  font-size: 1.1rem;
}


.review{
  display: flex;
  align-items: center;
  font-family: $primaryFont;
  font-size: 0.9rem;
}

.review > h2 {
  padding-right: .4rem;
}

.star{
  max-width: 1.8rem;
  max-height: 1.6rem;
}

/* ---------Chicago---------*/

.chicago-container {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
}

.text-chicago {
  padding: 6rem 12rem 6rem 12rem;
  
}

.text-chicago h1 {
  font-family: $primaryFont;
  color: $primaryColor;
  font-size: 4.5rem;
  margin-block-start: 0;
  margin-block-end:0;
  padding-bottom: 0;
  line-height: 0.6;
  margin-top: 2rem;

}

.text-chicago h2 {
  font-family: $primaryFont; 
  color: #000;
  font-size: 3rem;
  margin-block-start: 0;
  margin-block-end:0;
  margin-bottom: 30px;
}

.text-chicago p{
  max-width: 380px;
  color: $primaryColor;
  font-size: 1.2rem;
}


.images-chicago .chefs-chicago{
  flex-wrap: wrap;
  position: absolute;
  max-width:280px;
  border-radius: 16px;
  right:12rem;
  margin-top: 3.5rem;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.images-chicago .restaurant-chicago {
  flex-wrap: wrap;
  max-width:280px;
  border-radius: 16px;
  left:0;
  position: relative;
  margin-top: 9em;
  margin-bottom: 3rem;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* ---------Footer---------*/

.footer-container{
  background-color: #494949;

}

.footer-content{
  flex-wrap: wrap;
  margin: 0 12rem;
  justify-content: space-between;
  display: flex;
}

.footer-img img{
  max-width: 200px;
  border-radius: 16px;
  margin: 2rem 0;
  background-color: #f6f6f6;
  padding: 2rem;
}

.footer-nav li  {
  list-style: none;
}

.footer-nav {
  max-width: 170px;
  color: $secondaryColor;
  margin-top: 1.5rem;
}

.footer-nav h3 { 
  font-size: 1rem;
  padding-right: 1rem;
}


.footer-nav ul { 
  padding-inline-start: 0;
}



.footer-nav a  {
  text-decoration: none;
  margin-right: 30px;
  font-family: $secondaryFont;
  color: #f6f6f6;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  align-items: center;
  cursor: pointer;
}

.footer-contact{
  text-align: left;
  color: #f6f6f6;
  margin-left: 1rem;
  margin-top: 1.5rem;
  
}

.footer-contact h3 {
  font-size: 1rem;
  color: $secondaryColor;
}

.footer-contact ul {
  padding-inline-start: 0;
}

.footer-contact li {
  list-style: none;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: $secondaryFont;
}

.footer-contact a {
  text-decoration: none;
}



.footer-socials {
  margin-left:2rem;
  color: $secondaryColor;
  margin-top: 1.5rem;
  
}

.footer-socials h3 {
  font-size: 1rem;
}


.footer-copyright{
  text-align: center;
  color: #f6f6f6;
  font-size: .9rem;
  padding-bottom: .5rem;
}


/* ---------Reservations Page---------*/

.reservations-container {
  background-color: rgba(0,0, 0, .8) ;
  height: auto;
  padding-bottom: 4rem;
  text-align: center;
  
  
}

.reservations-body {
  background-image: url("./assets/restaurant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }



.reservations-form {
  display: inline-block;
  background-color: $primaryColor;
  padding: 2rem 6rem 2rem 6rem;
  border-radius: 16px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.reservations-title {
  padding-top: 1rem;

  font-family: $primaryFont;
  color: $secondaryColor;
  font-size: 1.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
}




.reservations-form input {
  padding: .4rem;
  border-radius: 10px;
  text-align: center;
  font-family: $secondaryFont;
  font-size: 1rem;
  margin-bottom: .7rem;
  width: 200px;
}

.reservations-form select {
  padding: .4rem;
  border-radius: 10px;
  text-align: center;
  font-family: $secondaryFont;
  font-size: 1rem;
  margin-bottom: .7rem;
}

.reservations-form label {
  font-family: $secondaryFont;
  font-size: 1rem;
  color: $secondaryColor;
}



/* ---------Reservation Confirmed---------*/


.reservation-confirmed {
  text-align: center;
  margin: 12rem;
}

.reservation-confirmed span {
  color: green;
}


@media screen and (max-width: 380px) {
  .logo{
    padding: 1rem 3rem;
  }

  .nav{
    padding: 1rem 6rem;
  }
}


@media screen and (max-width: 1220px) {

  .header{
    display: flex;
    flex-wrap: wrap;
  }
  .hero-image{
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    margin: 0 12rem 2rem 12rem;
    
  }

  .nav {
    flex-wrap: wrap;
    padding: 1rem 20%;
    
  }

  .nav a {
    font-size: 1.2rem;
  }

  .logo{
    padding: 0;
    width: 200px;
    margin: 1.5rem 0;
  }

  .nav ul {
    padding-bottom: 0;
    margin-right: 1rem;
    text-align: center;
    font-size: 1.3rem;
  }

  .restaurant-chicago{
    left: 0;
  }

  .images-chicago{
    padding-left:min(9em,5%);
  }

}

@media screen and (min-width: 901px) {
  .nav ul {
    display: flex !important; /* Forces row layout */
    flex-direction: row;
    position: static;
  }
}

@media screen and (max-width: 900px) {
  .nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 460px;
    position: absolute;
    top: 98px;
    left: 0;
    background-color: #f6f6f6;
    text-align: center;
    align-items: center;
  }

  .nav ul.open {
    display: flex;
  }
}

/* Hamburger icon styles */
.nav .icon {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 55px;
  font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
  .nav .icon {
    display: block;
  }
}


@media screen and (max-width: 768px) {

  
 
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-image{
    position: relative;
  }

  .header-content{
    padding-left: 2rem;
    margin: 0 1.3rem;
  }

  .header-content .button{
    padding: 15px 60px;
  }

  .hero-image{
    max-width: 300px;
    right: 0;
    top: 0;
    margin:  0 47px 20px 47px;
  }

  .specials{
    align-items: center;
    flex-direction: column;
    margin: 20px 47px 20px 47px;
  }

  .specials h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1;
  }

  .specials .button{
    width: 250px;
  }

  .card-container{
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    gap: 0;
  }

  .product-box{
    margin-bottom: 20px;
  }

  .testimonial-container{
    flex-direction: column;
    padding-bottom: 30px;
  }

  .testimonials-title{
    padding: 4rem 0 4rem 0;
  }
  
  .testimonial-cards{
    flex-direction: column;
    padding: 0;
    align-items: center;
    gap: 25px;
  }

  .chicago-container{
    align-items: center;
  }

  .text-chicago{
    padding: 1.1rem;
    margin: 1rem 1rem;
  }

  .text-chicago p{
    margin: 0 .2rem;
  }

.images-chicago{
  text-align: center;
}

  .images-chicago .chefs-chicago{
    right: 0;
    left:2.1rem;
    max-width: 320px;
    bottom:3rem;
    display: inline-block;
    position: relative;
    margin-right: 2rem;
  }

  .images-chicago .restaurant-chicago{
    margin: 1rem;
    left:1rem;
    max-width: 320px;
  }


  .chicago-container{
    padding: 0;
    flex-direction: column;
  }



  .footer-content{
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .footer-nav{
    max-width: 200px;
    line-height: 2rem;
    margin-top: 0;
    align-items: center;

    margin-block-start: 0;
    margin-block-end: 0;
  }

  .footer-nav h3{
    width: 200px;
    text-align: center;
    padding-right: 0;
  }

  .footer-nav ul{
    padding-inline-start: 40px;
  }

  .footer-nav li{
    text-align: center;
    margin: 0;
  }

  .footer-contact{
    text-align: center;
    margin: 0;
  }

  .footer-socials{
    width: 150px;
    margin-top: 0;
    margin-left: 0;
  }

  
  
    
}
